body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.judul {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: large;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.btn {
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}


.datasiswa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

